div.usc-collection-image img {
    float:right;
}

ul.usc-collection-view li {
    float: left;
    height: 220px;
    list-style: none outside none;
    width: 33%;
}

ul.usc-collection-view li a {
    float: left;
    width: 200px;
}

a.usc-flowplayer {
    display: block;
    width: 480px;
    height: 360px;
}

fieldset.usc-mirc-fieldset {
    float: left;
    max-width: 400px;
    min-height: 385px;
    height: auto;
}

.islandora-solr-search-result .islandora-solr-search-result-inner {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 4px;
}

.islandora-solr-search-result.odd {
  background-color: #f3f3f3;
}

.islandora-solr-search-result.even {
  background-color: #f9f9f9;
}

.islandora-solr-search-result dl.solr-fields {
  border-top: 0;
}
