div.usc-collection-image img {
    float:right;
}

ul.usc-collection-view li {
    float: left;
    height: 220px;
    list-style: none outside none;
    width: 33%;
}

ul.usc-collection-view li a {
    float: left;
    width: 200px;
}

a.usc-flowplayer {
    display: block;
    width: 480px;
    height: 360px;
}

fieldset.usc-mirc-fieldset {
    float: left;
    max-width: 400px;
    min-height: 380px;
    height: auto;
}